:root{
    --color1: #fff;
    --color2: #A5A3A5;
    --color3: #3A3539;
}
body{
    margin: 0;
    background: #251F24;
    font-family: nunito;
}
.wrapper{
    max-inline-size: 902px;
    margin: auto;
}
.hero{
    block-size: 96px;
    background: linear-gradient(148deg, #314755 34.50%, #26A0DA 82.40%);
    margin-block-end: 25px;
}
header{
    color: var(--color2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-inline: 20px;
}
.variantes{
    list-style: none;
}
.variantes p{
    color: #fff;
    margin-block-end: 20px;
}
.variantes li{
    padding: 8px;
    margin: 0;
}
.variantes a{
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: var(--color2);
    margin: 0;
}
.variantes li:nth-of-type(2){
    background: #000;
    border-radius: 4px;
}
.variantes .template{
    color: #fff;
}
.contenido{
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-block-start: 50px;
}
summary{
    color: var(--color2);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-block-start: 24px;
    cursor: pointer;
}
summary:hover{
    color: #fff;
}
header li{
    margin-block-end: 16px;
}
header a{
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: var(--color2);
}
header a:hover{
    color: #fff;
}

.main-content{
    padding-inline: 20px;
}
hr{
    display: none;
}
h1{
    font-size: 24px;
    font-weight: 400;
    margin-block-start: 40px;
    color: var(--color1);
    font-style: normal;
    margin-block-end: 16px;
}
h2{
    font-size: 24px;
    font-weight: 400;
    margin-block-start: 40px;
    margin-block-end: 20px;
    color: var(--color1);
    font-style: normal;
}
h3{
    font-size: 20px;
    font-weight: 400;
    color: var(--color1);
    font-style: normal;
    margin-block: 16px;
}
.section-content .list{
    counter-increment: titlelist;
}
.section-content .list::before{
    content: counter(titlelist) ". ";
}
p{
    font-weight: 700;
    margin-block-end: 24px;
    color: var(--color2);
    font-size: 17px;
    font-style: normal;
    line-height: 24px;
    margin-block-start: 16px;
}
p a{
    color: #157EFB;
}
blockquote{
    padding: 8px;
    margin-block-start: 40px;
    margin-block-end: 40px;
    background: var(--color3);
    border-radius: 8px;
    margin-inline: 0;
}
blockquote p{
    font-size: 17px;
    font-weight: 700;
    color: var(--color1);
    font-style: normal;
    line-height: 32px;
}
pre{
    font-weight: 700;
    padding: 16px;
    margin-block-end: 24px;
    background: var(--color3);
    color: var(--color1);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    border-radius: 8px;
    margin-block-start: 16px;
    overflow: auto;
}
.section-content img{
    max-inline-size: 100%;
    display: block;
}
ul li{
    margin-block-end: 24px;
}
li{
    color: var(--color2);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}
.slider-container{
    scroll-behavior: smooth;
    display: block;
    overflow: auto;
    white-space: nowrap;
}
.slider-container::-webkit-scrollbar{
    display: none;
}
.video{
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
}
.slider-bullet-list{
    text-align: center;
}
.slider-bullet{
    background:rgba(66, 66, 66, 0.63);
    display: inline-block;
    border-radius: 50%;
    inline-size: 16px;
    block-size: 16px;
    margin-inline-end: 8px;
    margin-block-start: 16px;
}
.slider-bullet:hover{
    background: var(--color1);
}
.form input{
    font-size: 16px;
    inline-size: 100%;
    background: #251F24;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    box-sizing: border-box;
    padding-inline: 16px;
    padding-block: 12px;
    margin-block-end: 24px;
}
.form input[type="submit"]{
    background: #157EFB;
    border: none;
    cursor: pointer;
}
.end{
    block-size: 175px;
    background: var(--color1);
}
.title-end{
    font-size: 24px;
    color: #251F24;
    text-align: center;
    font-weight: 400;
    padding-block-start: 48px;
    padding-block-end: 16px;
    margin: 0;
}
.social{
    display: flex;
    justify-content: center;
    gap: 16px;
}
@media screen and (min-width: 1400px){
    .hero{
        block-size: 350px;
    }
    .header{
        position: sticky;
        inset-block-start: -45px;
    }
    .header-content{
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    header{
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 188px;
    }
    h1{
        font-size: 64px;
        font-weight: 700;
        margin-block-start: 64px;
    }
    h2{
        font-size: 40px;
        font-weight: 700;
        margin-block-start: 80px;
        margin-block-end: 40px;
    }
    h3{
        font-size: 32px;
        font-weight: 600;
    }
    p{
        font-weight: 400;
        margin-block-end: 40px;
    }
    blockquote{
        padding: 24px;
        margin-block-start: 65px;
        margin-block-end: 80px;
    }
    blockquote p{
        font-size: 24px;
        font-weight: 400;
    }
    pre{
        font-weight: 400;
        padding: 40px;
        margin-block-end: 40px;
    }
    .title-end{
        font-size: 32px;
    }
}